/* Tela.css */

.Tela {
  background-image: #f9f9f9;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.login-container {
  position: absolute;
  background-color: #f9f9f9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  margin-top: 10px;
  color: #555;
}

input {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.6s ease-in;
}

button:hover {
  background-color: #ae277a;
}

.create-account {
  margin-top: 15px;
  text-align: center;
  color: #555;
}

.create-account a {
  color: #3498db;
  text-decoration: none;
}

.create-account a:hover {
  text-decoration: underline;
}
